
.layout-page {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--background-primary);

  /* можно оставить отступы, но лучше смягчить,
     чтобы не мешали расчету высоты */
  padding: clamp(1rem, 2vw, 2rem);
  gap: clamp(1rem, 2vw, 2rem);
}

.layout-content {
  flex: 1;                 /* растягивает контент на всё оставшееся пространство */
  display: flex;
  flex-direction: column;
}