
.layout-page {
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--background-primary);

  padding: clamp(1rem, 2vw, 2rem);
  gap: clamp(1rem, 2vw, 2rem);
}

.layout-content {
  flex: 1;            
  display: flex;
  flex-direction: column;
}