.book-subjects {
  width: 100%;
  max-height: clamp(14rem, 25vh, 16rem); 
  padding: clamp(1rem, 2vw, 1.25rem);
  margin-top: clamp(0.75rem, 2vw, 1rem);

  background-color: var(--background-secondary);
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  overflow: hidden;
}

.book-info-subjects-box {
  width: 100%;
  max-height: clamp(8rem, 20vh, 10rem); 
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem;
  box-sizing: border-box;


  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

.book-info-subjects-box::-webkit-scrollbar {
  width: 6px;
}

.book-info-subjects-box::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}

.book-info-subjects-box::-webkit-scrollbar-track {
  background: transparent;
}

.book-info-subject {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--background-primary);
  font-size: clamp(0.8rem, 1.5vw, 0.95rem);
  margin: 0 0.5rem 0.25rem 0;
  box-sizing: border-box;
}


@media (max-width: 480px) {
  .book-subjects {
    padding: 0.75rem;
    max-height: 14rem;
  }

  .book-info-subjects-box {
    max-height: 7rem;
    gap: 0.35rem;
  }

  .book-info-subject {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
  }
}
