.book-history {
  width: 100%;
  padding: clamp(1rem, 2vw, 1.5rem);
  margin-top: clamp(1rem, 2vw, 1.5rem);

  background-color: var(--background-secondary);
  border-radius: 0.75rem;
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  box-sizing: border-box;
}

.book-history-box {
  width: 100%;
  max-height: clamp(12rem, 25vh, 18rem); 
  overflow-y: auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;


  scrollbar-width: thin; 
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}

.book-history-box::-webkit-scrollbar {
  width: 6px;
}

.book-history-box::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 3px;
}

.book-history-box::-webkit-scrollbar-track {
  background: transparent;
}


@media (max-width: 480px) {
  .book-history {
    padding: 1rem;
    margin-top: 1rem;
  }

  .book-history-box {
    max-height: 12rem;
    padding-top: 0.75rem;
    gap: 1.5rem;
    padding: 2rem;
  }
}
