
:root{
  --background-primary: #ffffff;  
  --background-secondary: #c0c0c0bb;
  --text: #1c120c;
  --text-secondary: #7a7978;
  --primary: #0d0de8;
  --secondary: #37d310;
  --box-shadow: rgba(100,100,100,.1) 0px 7px 29px 0px;
}

html, body, #root {
  width: 100%;  
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-primary);
  color: var(--text)
}

*, *::before, *::after{
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg{
  display: block;
  max-width: 100%;
}

input, button, textarea, select{
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
  overflow-wrap: break-word;
}

button {
  border-radius: 0.75rem;
  padding: 0.6rem 1.2rem;
}

#root, #_next{
  isolation: isolate;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

h2{
  font-size: 2.5rem;
  font-weight: 800;
}
h3{
  font-size: 2.25rem;
  font-weight: 700;
}
h4{
  font-size: 2rem;
  font-weight: 600;  
}
h5{
  font-size: 1.5rem;
  font-weight: 600;  
}
h6{
  font-size: 1.25rem;
  font-weight: 500;  
}

p {
  font-size: 1rem;
  font-weight: 400;  
}

.page {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}


.page-container {
  flex: 1; 
  width: 75%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  background-color: var(--background-primary);
  box-shadow: var(--box-shadow);
}
