.update-user-form {
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  padding: clamp(1rem, 2vw, 1.5rem);
}

.update-user-input-group {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.profile-button {
  width: 100%;
  max-width: 80%;
  padding: 0.75rem;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  border-radius: 0.75rem;
  border: none;
  background-color: var(--secondary);
  color: var(--text-on-primary);
  align-self: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.profile-button:hover {
  background-color: var(--primary);
  color: var(--text-secondary);
}


@media (max-width: 480px) {
  .update-user-form {
    padding: 0.75rem;
    gap: 0.75rem;
  }

  .update-user-input {
    font-size: clamp(0.9rem, 1.2vw, 1rem);
    padding: 0.5rem;
  }

  .profile-button {
    padding: 0.65rem;
    font-size: 1rem;
  }
}

.update-user-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  background-color: var(--background-secondary);
  border: 1px solid var(--text-secondary);
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.update-user-input:disabled {
  color: var(--text-primary);
  background-color: var(--background-secondary);
}

.update-user-input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}