.footer {
  width: 100%;
  background: var(--secondary);
  color: var(--text);
  padding: 1rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer-links a {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer-socials {
  display: flex;
  gap: 0.75rem;
}

.footer-socials img {
  width: 20px;
  height: 20px;
}

/* Mobile */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }
}
