.library-card {
  width: 100%;
  max-width: 100%;
  height: fit-content;
  border-radius: 12px;
  padding: 16px;
  margin-top: clamp(1rem, 2vw, 1.5rem);

  box-shadow: var(--box-shadow);
  background-color: var(--background-secondary);
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.library-card-img {
  width: 50%;
  margin-bottom: 16px;
}

.get-library-card-img {
  width: 50%;
  margin-bottom: 16px;
}

.get-library-card-link:hover {
  color: var(--primary);
  cursor: pointer;
  text-decoration: underline;
}
